body {
  background-color: #D7EFF2;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Fjalla One';
  font-weight: bold;
}

p {
  font-family: 'Cantarell';
}

div.tutors {
  margin: auto;
  height: 400px;
  width: 800px;
  background-color: powderblue;
  position: relative;
}

.tutor {
  font-family: 'Cantarell';
  font-size: 16px;
  padding-left: 20px;
  padding-top: 45px;
}
.tutorPhoto {
  display: block;
  float: right;
  padding-right: 30px;
  padding-top: 55px;
  width: 60%;
  height: 33%;
}
.tutorPhoto p {
  text-align: center;
}
.tutorPhoto img {
  width: 100%;
}

div.testimonial {
    margin: auto;
    height: 400px;
    width: 800px;
    background-color: powderblue;
    position: relative;
}

.button {
  display: inline-block;
  border-radius: 15px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: "Cantarell";
  font-weight: lighter;
  padding: 15px 25px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 9px #999;
  position: absolute;
}

.button1{
  top:150px;
  left:0px;
}
.button2{
  top:150px;
  right:0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -10px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}
.button1:hover span {
  padding-left: 10px;
}
.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button1:hover span:after {
  opacity: 1;
  left: -10;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.person {
  font-family: "Cantarell";
  font-size: 20px;
}
.review {
  font-size: 24px;
  position: absolute;
}

.review1 {
  left: 125px;
  top: 100px;
}
.person1 {
  position: absolute;
  left: 175px;
  top: 200px;
}
.img1 {
  position: absolute;
  right: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page1 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review2 {
  right: 175px;
  top: 100px;
}
.person2 {
  position: absolute;
  right: 125px;
  top: 200px;
}
.img2 {
  position: absolute;
  left: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page2 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review3 {
  left: 125px;
  top: 100px;
}
.person3 {
  position: absolute;
  left: 175px;
  top: 200px;
}
.img3 {
  position: absolute;
  right: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page3 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review4 {
  right: 175px;
  top: 100px;
}
.person4 {
  position: absolute;
  right: 125px;
  top: 200px;
}
.img4 {
  position: absolute;
  left: 125px;
  top: 150px;
  width:300px;
  height:50px;
}
.page4 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

div.philanthropy {
    margin: auto;
    height: 400px;
    width: 800px;
    background-color: powderblue;
    position: relative;
}

.upcomingEvents {
  position: relative;
  font-size: 30px;
  text-align: center;
}

.PhilImg1 {
  position: absolute;
  left: 25px;
  top: 50px;
  width: 325px;
  height: 325px;
}

.eventImage1{
  position: absolute;
  right: 225px;
  top: 50px;
  width: 125px;
  height: 125px;
}

.event1 {
  position: absolute;
  left: 450px;
  top: 160px;
}

.eventImage2{
  position: absolute;
  right: 25px;
  top: 50px;
  width: 125px;
  height: 125px;
}

.event2 {
  position: absolute;
  left: 650px;
  top: 160px;
}

.eventImage3{
  position: absolute;
  right: 25px;
  top: 225px;
  width: 125px;
  height: 125px;
}

.event3 {
  position: absolute;
  left: 450px;
  top: 335px;
}

.eventImage4{
  position: absolute;
  right: 225px;
  top: 225px;
  width: 125px;
  height: 125px;
}

.event4 {
  position: absolute;
  left: 650px;
  top: 335px;
}

.mailing {
  text-align: center;

}

.emailInput {
  position: absolute;
  left: 125px;
  top: 75px;
  width: 500px;
  height: 20px;
}

.emailSubmit {
  position: absolute;
  left: 650px;
  top: 75px;
  width: 100px;
  height: 25px;
}

div.mailingList {
    margin: auto;
    height: 200px;
    width: 800px;
    background-color: powderblue;
    position: relative;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}



/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
