<!-- Latest compiled and minified CSS for bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

body {
  background-color: #D7EFF2;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Fjalla One';
  font-weight: bold;
}

p {
  font-family: 'Cantarell';
}



/** home top **/

/** home page **/
#home1 {
  padding: 220px 0 300px 0;
  text-align: center;
  color: white;
  background-image: url('img/tutoring.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 60%;
}
  #home1 h1 {
    font-size: 80px;
    font-weight: 400;
  }
  #home1 h2 {
    font-size: 30px;
    color: #80c9ff;
    font-weight: 400;
  }

.inputSubmit {
  position: absolute;
  left: 650px;
  top: 75px;
  width: 100px;
  height: 25px;
}

.center {
  text-align: center;
}

/** Schedule **/

div.sched {
  margin: auto;

  width: 1200px;
  background-color: white;
  color: #334758;
  position: relative;
}

.sched {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 45px;
  background-color: white;
  color: #334758;
}

/** About Us **/
.aboutUsBg {
  background-color: #334758;
  color: white;
}

div.aboutUs {
  margin: auto;
  height: 400px;
  width: 800px;
  background-color: #334758;
  position: relative;
  color: white;
}
  #aboutus .box {
    display: inline-block;
    width: 240px;
    margin: 10px 25px 25px 0;

  }
  #aboutus .box h4 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  #aboutus .box h5 {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    padding: 15px 0 0 0 !important;
  }
  #aboutus .box img {
    display: block;
    margin: 0px auto 25px auto;
    width: 60px;
  }
  #aboutus .box p {
    color: white;
    font-size: 16px !important;
    line-height: 25px;
    padding: 15px 0 0 0 !important;
  }
  #aboutus .box p span {
    font-weight: 400;
  }
/** Our Story **/
.ourStory {
  background-color: white;
  color: #334758;
}

/** Tutors **/
.tutorsBg {
  background-color: #EEF0F1;
}
.tutorsBg h1 {
  color: #334758;
}

div.tutors {
  margin: auto;
  height: 400px;
  width: 800px;
  background-color: #EEF0F1;
  color: #486279;
  position: relative;
}

.tutor {
  font-family: 'Cantarell';
  font-size: 16px;
  padding-left: 20px;
  padding-top: 45px;
  color: #486279;
}
.tutorPhoto {
  display: block;
  float: right;
  padding-right: 30px;
  padding-top: 55px;
  width: 60%;
  height: 33%;
}
.tutorPhoto p {
  text-align: center;
}
.tutorPhoto img {
  width: 100%;
}

/** Testimonials **/
.testm {
  background-color: white;
  color: #334758;
}

div.testimonial {
    margin: auto;
    height: 400px;
    width: 800px;
    background-color: white;
    color: #486279;
    position: relative;
}

.button {
  display: inline-block;
  border-radius: 15px;
  background-color: #334758;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: "Cantarell";
  font-weight: lighter;
  padding: 15px 25px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 9px #999;
  position: absolute;
}

.button1{
  top:150px;
  left:0px;
}
.button2{
  top:150px;
  right:0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -10px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}
.button1:hover span {
  padding-left: 10px;
}
.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button1:hover span:after {
  opacity: 1;
  left: -10;
}
.button:hover {background-color: #1E2E3B}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.person {
  font-family: "Cantarell";
  font-size: 20px;
}
.review {
  font-size: 24px;
  position: absolute;
}

.review1 {
  left: 125px;
  top: 100px;
}
.person1 {
  position: absolute;
  left: 175px;
  top: 200px;
}
.img1 {
  position: absolute;
  right: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page1 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review2 {
  right: 175px;
  top: 100px;
}
.person2 {
  position: absolute;
  right: 125px;
  top: 200px;
}
.img2 {
  position: absolute;
  left: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page2 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review3 {
  left: 125px;
  top: 100px;
}
.person3 {
  position: absolute;
  left: 175px;
  top: 200px;
}
.img3 {
  position: absolute;
  right: 125px;
  top: 50px;
  width:200px;
  height:300px;
}
.page3 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}

.review4 {
  right: 175px;
  top: 100px;
}
.person4 {
  position: absolute;
  right: 125px;
  top: 200px;
}
.img4 {
  position: absolute;
  left: 125px;
  top: 150px;
  width:300px;
  height:50px;
}
.page4 {
  position: absolute;
  right: 350px;
  bottom: 0px;
  width:100px;
  height:25px;
}


/** Philanthropy **/
.phil {
  background-color: #334758;
  color: white;
}


div.philan {
    margin: auto;
    height: 400px;
    width: 800px;
    background-color: #334758;
    position: relative;
}

.upcomingEvents {
  position: relative;
  font-size: 30px;
  text-align: center;
}

.PhilImg1 {
  position: absolute;
  left: 25px;
  top: 50px;
  width: 325px;
  height: 325px;
}

.eventImage1{
  position: absolute;
  right: 225px;
  top: 50px;
  width: 125px;
  height: 125px;
}

.event1 {
  position: absolute;
  left: 450px;
  top: 180px;
}

.eventImage2{
  position: absolute;
  right: 25px;
  top: 50px;
  width: 125px;
  height: 125px;
}

.event2 {
  position: absolute;
  left: 650px;
  top: 180px;
}

.eventImage4{
  position: absolute;
  right: 25px;
  top: 225px;
  width: 125px;
  height: 125px;
}

.event3 {
  position: absolute;
  left: 450px;
  top: 355px;
}

.eventImage3{
  position: absolute;
  right: 225px;
  top: 225px;
  width: 125px;
  height: 125px;
}

.event4 {
  position: absolute;
  left: 650px;
  top: 355px;
}

.emailInput {
  position: absolute;
  left: 125px;
  top: 75px;
  width: 500px;
  height: 20px;
}


/** Mailing list **/

.mail {
  color: #334758;
}
div.mailingList {
    margin: auto;
    height: 200px;
    width: 800px;
    background-color: white;
    position: relative;
    color: #486279;
}



/** TIMELINE **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

/* line and general format of info */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #F45B69;
  color: white;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/* event textbox */
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #334758;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* shift every other event over */
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

/* event ticks */
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #334758 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #334758;
}
